.c-image-container {
	width: rem(182);
	height: rem(182);
	margin: 35px 0 20px;
	position: relative;
	background: #ccc;
}
	.c-category-type {
		position: absolute;
		top: 10px;
		left: 10px;
	}
		.o-category-label {
			background: palette(black);
			color: #fff;
			font-size: rem(12);
			padding: 3px 7px;
			line-height: normal;
			height: 21px;
			display: block;
			text-transform: uppercase;
		}
