<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- <link rel="icon" href="../../../../favicon.ico"> -->

  <title>{{ title }}</title>

  <!-- Bootstrap core CSS -->

  <!-- Custom styles for this template -->
  <link href="" rel="stylesheet">

</head>
<body>
  {% include "../includes/navbar.html" %}

  {% block content %}{% endblock %}

  <!-- Placed at the end of the document so the pages load faster -->
  <!-- <script src=""></script> -->
</body>
</html>
